doctype html
html
	head
		title Tiny Coin Cap
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Minimal CoinMarketCap.com clone rendered server-side. JavaScript not required.')
		meta(name='referrer', content='no-referrer')

		link(rel='apple-touch-icon', href='icon.png')
		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')

		link(rel='stylesheet', href='pure.css')
		link(rel='stylesheet', href='main.css')
	body
		div#align-center
			h1 Tiny Coin Cap

			p
				a(href='https://gitlab.com/nitrohorse/tiny-coin-cap', target='_blank' rel='external noopener noreferrer') Source Code
				span  | Powered by 
				a(href='https://coinmarketcap.com/api/', target='_blank' rel='external noopener noreferrer') CoinMarketCap.com
				span  and 
				a(href='https://vercel.com/', target='_blank' rel='external noopener noreferrer') Vercel

			p Last updated #{timeOfUpdate}

			p Total Market Cap: $#{totalMarketCap}

		table.pure-table.pure-table-horizontal
			thead
				tr
					th #
					th#align-left Coin
					th.hide-on-mobile Market Cap (USD)
					th Price (USD)
					th.hide-on-mobile Change (1h)
					th Change (24h)
					th Change (7d)
			tbody
				each coin, index in coins
					tr
						td= index + 1
						td#align-left= coin.name
						td.hide-on-mobile= coin.market_cap
						td= coin.price

						if coin.percent_change_1h > 0
							td.change-increase.hide-on-mobile= coin.percent_change_1h
						else if coin.percent_change_1h < 0
							td.change-decrease.hide-on-mobile= coin.percent_change_1h
						else
							td.hide-on-mobile= coin.percent_change_1h

						if coin.percent_change_24h > 0
							td.change-increase= coin.percent_change_24h
						else if coin.percent_change_24h < 0
							td.change-decrease= coin.percent_change_24h
						else
							td= coin.percent_change_24h

						if coin.percent_change_7d > 0
							td.change-increase= coin.percent_change_7d
						else if coin.percent_change_7d < 0
							td.change-decrease= coin.percent_change_7d
						else
							td= coin.percent_change_7d
